/* Import Indie Flower font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/* HTML style the entire page */
html {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Style the header */
header {
  padding: 20px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 50,
      "EHLT" 12;
  }
}

#welcome {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Set the font family for the body */
body {
  background-color: #fffafa;
  margin: 0;
  /* Remove default margin */
  min-height: 100vh;
  /* Ensure the body covers the full viewport height */
  display: flex;
  flex-direction: column;
  /* Create a flex container for header, main, and footer */
}

/* Style the main content area */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
  /* Allow main content to grow and push footer to the bottom */
}

/* Style the image gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.gallery img {
  width: 30%;
  margin-bottom: 20px;
}

/* Style the footer */
footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
  /* Push the footer to the bottom */
}

/* rainbow text effect */
.rainbow-text {
  background-image: linear-gradient(to left, rgb(247, 208, 247), rgba(95, 0, 164, 0.428), rgba(0, 0, 255, 0.393), rgba(0, 128, 0, 0.273), yellow, rgba(255, 166, 0, 0.581), rgba(255, 0, 0, 0.784));
}

.caption {
  text-align: left;
  font-weight: bold;
}
